body{
  margin: 0;
  padding: 0;
}
a{
  color: #447ac5;
  text-decoration: none;
}
.img{/*商品写真*/
    height: 10em;
    display: inline-block;

}

.item{/*商品全体*/
    display: flex;
    flex-wrap: wrap;
}
.shohins{/*一商品*/
    line-height: 1.2;
    margin-right: 20px;
    margin-left: 20px;
    width: 10em;
}
.name{
    line-height: 2;
}
.price{/*価格*/
    line-height: 2;
    margin: 0;
}

/* お気に入り */
.choice-list {
  margin: 0 auto;
  display: block;
  padding: 0;
}

.checkbox {
  text-align: left;
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: block;
  background-color: rgb(247, 229, 239);
  margin: 0;
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
}

.checkbox:hover {
  background-color: rgb(247, 229, 239);
}

.checkbox:hover:after {
  color: red; /* チェック前マウス */
}

.checkbox:after {
  line-height: 30px;
  font-family: "FontAwesome";
  display: block;
  content: "\f004"; /* ハートアイコン */
  color: red; /* チェック前ハートの中 */
  text-align: center;
  width: 100%;
  height: 100%;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 20px;
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}

.checkbox.is-checked:after {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  font-size: 10px;
  color: white;
}

.checkbox.is-checked:hover:after {
  -moz-transform: scale(0.45);
  -ms-transform: scale(0.45);
  -webkit-transform: scale(0.45);
  transform: scale(0.45);
}
