form {
  text-align: center;
  
}
p{
    font-size:20px;
}

.login_form_btm {
  padding: 10px 0;
  background-color: #F7F7F7;
  margin: 10px 0;
}

input {
  width: 200px;
  height:50px;
  padding: 3px;
  margin: 5px 0;
}