body {
    text-align: center;
}

.heading-041 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em .7em;
    background-color: #ebebeb;
    color: #333333;
}
 
.heading-041::before {
    display: inline-block;
    width: 5px;
    height: 1.5em;
    margin-right: .5em;
    background-color: #ebebeb;
    content: '';
}

.textbox-001-label,
.textbox-001 {
    color: #333;
    margin: 0 auto;
}

.textbox-001-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textbox-001 {
    width: 900px;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 auto;
}

.textbox-001::placeholder {
    color: #999;
}

.radio-001 {
    display: flex;
    flex-wrap: wrap;
    gap: .3em 2em;
    border: none;
    justify-content: center;
}

.radio-001 label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
}

.radio-001 label::before,
.radio-001 label:has(:checked)::after {
    border-radius: 50%;
    content: '';
}

.radio-001 label::before {
    width: 18px;
    height: 18px;
    background-color: #e6edf3;
}

.radio-001 label:has(:checked)::after {
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #4895cb;
}

.radio-001 input {
    display: none;
}

.button-002 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}
 
.button-002::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}
 
.button-002:hover {
    background-color: #1579c0;
}