body {
  width: 100%;
  position: absolute;
  overflow-x: hidden; /* 横スクロールを防ぐ */
}

.shohin-item {
  float: left; /* 左側に配置 */
  width: 50%; /* 左半分の幅 */
  box-sizing: border-box; /* パディングとボーダーを要素の合計幅に含める */
}

.shohin-gaiyo {
  float: right; /* 右側に配置 */
  width: 50%; /* 右半分の幅 */
  box-sizing: border-box; /* パディングとボーダーを要素の合計幅に含める */
}

.footer {
  position: absolute; /* 要素の位置を絶対的に指定 */
  bottom: 0; /* 要素を下端に配置 */
  width: 100%; /* 要素の幅を100%に指定 */
  height: 50px; /* 要素の高さを50pxに指定 */
  box-sizing: border-box; /* パディングとボーダーを要素の合計幅に含める */
}
