.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image img {
    height: 200px;
}

.product-table {
    width: 100%;
    margin-top: 10px;
}

.shohin{
    display: flex;
    flex-flow: column;
}