.content {
    display: flex; /* コンテンツを横に配置 */
    justify-content: space-between; /* コンテンツ内の要素を左右に配置 */
    align-items: center; /* コンテンツ内の要素を中央に配置 */
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* コンテンツ間のスペースを設定 */
  }
  
  .content-details {
    flex: 1; /* コンテンツの詳細部分を均等に広げる */
  }
  
  .button-container {
    display: flex;
    flex-direction: column; /* ボタンを縦に配置 */
    align-items: flex-end; /* ボタンを右寄せ */
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* ボタン間のスペースを設定 */
  }