h1{
    text-align: center;
}
.moji{
    text-align: center;
}

p{
    text-align: center;
    
}
.eee{
    background: rgb(166, 252, 252);
}
footer{
    text-align:center;
}
.modo{
    text-align: center;
    background: rgb(240, 158, 158);
}
.ko{
    background: rgb(124, 255, 174);
}
.sa{
    background: rgb(255, 137, 137);
}
a{
    text-align: center;
}
.koshin{
    background: rgb(124, 255, 174);
}
.id{
    background-color: rgb(169, 222, 255);
}
.png{
width: 40px;
height: 40px;
}